name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    services:
      minio:
        image: fclairamb/minio-github-actions:v0.2
        ports:
          - 9000:9000

    strategy:
      matrix:
        go: ['1.24', '1.25']
        include:
          - go: '1.25'
            lint: true

    steps:
      - uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Run golangci-lint
        if: matrix.lint
        uses: golangci/golangci-lint-action@v9

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        if: matrix.lint
        uses: codecov/codecov-action@v5
        with:
          files: coverage.txt

  build-status:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: echo 'All good'
